<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.playposse.thomas.lindenmayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".LindenmayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5e6d81f10c3b91abdbb377d69ca013c8a8fecb3e"/>

        <!--
     Optionally, register AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>

        <provider
            android:name=".contentprovider.LindenmayerContentProvider"
            android:authorities="com.playposse.thomas.lindenmayer.provider"
            android:exported="false"/>

        <service
            android:name=".service.ImportRuleSetsService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".widget.DailyLSystemWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_lsystem_appwidget_info"/>
        </receiver>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RulesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"/>
        <activity
            android:name=".activity.RenderingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.RulesActivity"/>
        <activity
            android:name=".activity.TurtleTrainingActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"/>

        <provider
            android:name=".util.PngFileProvider"
            android:authorities="com.playposse.thomas.lindenmayer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".activity.HelpActivity"/>
        <activity android:name=".activity.SampleLibraryActivity"/>
        <activity android:name=".activity.PrivateLibraryActivity"/>
        <activity android:name=".activity.IntroductionActivity"/>
        <activity android:name=".activity.PublicLibraryActivity"/>
    </application>

</manifest>